html {
    font-size: 12px;
    color: #333;
}

.container {
    font-size: 14px;

    .header {
        width: 50%;
        height: 30px;

        .top {
            border: 1px solid red;

            &-left {
                /* & 就是代表上层的所有父选择器 */
                float: left;
            }
        }

    }

    .footer {
        background-color: green;
    }

    &::after {
        /* & 就是代表上层的所有父选择器 */
        display: inline-block;
    }
}